<h1><%= @track.title %></h1>
<% band = @track.album.band %>
<h3>off the album <%= @track.album.title %></h3>
<h3>by <%= band.name %></h3>
<h3><a href=<%= band_url(band) %> >back to <%= band.name %></a></h3>
